@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("./fonts/fonts.css");

:root {
    --cbg: #2A2B2A;
    --vista: #8CA0D7;
    --jordy: #91C4F2;
    --av: #9D79BC;
    --pur: #A14DA0;
    --mar: #7E1F86;
}

body {
    background-color: var(--cbg);
}

.topbar {
    background-color: var(--vista);
    position: fixed;
    top: 0;
    left: 0;
    height: 30px;
    width: 100%;
    -webkit-app-region: drag;
    z-index: 100;
    user-select: none;
}

.leftbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 20%;
    height: 100%;
    background-color: var(--vista);
}

.tabbar {
    position: fixed;
    top: 30px;
    left: 20%;
    height: 40px;
    width: calc(100% - 20%);
    background-color: var(--vista);
    user-select: none;
}

.nof-op {
    margin-top: 70px;
    margin-left: 10px;
    color: var(--mar);
    font-family: "Consolas", 'Courier New', monospace;
    height: calc(100% - 70px);
    overflow-y: scroll;
}

.nof-op::-webkit-scrollbar {
    width: 15px;
    border-left: 1px solid rgb(211, 211, 211, 0.1);
}

.nof-op::--webkit-scrollbar-track {
    background-color: transparent;
}

.nof-op::-webkit-scrollbar-thumb {
    background-color: rgb(211, 211, 211, 0.5);
}

.nof-op > button {
    cursor: pointer;
    width: 90%;
    height: 35px;
    font-family: "DM Sans", sans-serif;
    background-color: var(--mar);
    color: white;
    border: 1px solid var(--mar);
    border-radius: 5px / 5px;
}

.tabbar>.tab-btn {
    height: 40px;
    width: 150px;
    background-color: var(--pur);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-right: 1.8px solid var(--cbg);
    font-family: "Lato", sans-serif;
    color: lightgray;
    float: left;
}

.tabbar>.tab-btn>span:hover {
    text-decoration: line-through;
}

.tabbar>.tab-btn.selected {
    background-color: var(--mar) !important;
}

.topbar-btns {
    position: fixed;
    left: 45px;
    top: 0;
    height: 30px;
    width: 90%;
    max-height: 30px;
}

.topbar-btn {
    -webkit-app-region: no-drag;
    font-family: "Roboto", sans-serif;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 15px;
    float: left;
    width: fit-content;
    vertical-align: middle;
    z-index: 1;
    white-space: nowrap;
    height: 30px;
    user-select: none;
}

.tab-btn>.tb-close {
    color: black;
    display: flex;
    vertical-align: middle;
}

.topbar-btn:hover {
    background-color: #7496bb;
}

.topbar>.dft-logo {
    height: 80%;
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
}

.editor {
    position: fixed;
    left: 20%;
    top: calc(30px + 40px);
    width: calc(100% - 20%);
    height: calc(100% - calc(30px + 40px))
}

.editor>.welcome-content {
    margin-left: 105px;
    margin-top: 105px;
    cursor: default;
    user-select: none;
}

.editor>.welcome-content>h1 {
    font-family: "DM Sans", sans-serif;
    font-size: 40px;
    color: var(--av);
    margin-bottom: 15px;
}

.editor>.welcome-content>.he-desc {
    margin-top: 0;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    color: lightgray;
}

.editor>.welcome-content>.start-title {
    margin-top: 80px;
    color: var(--jordy);
    font-family: "DM Sans", sans-serif;
    font-size: 22px;
}

.editor>.welcome-content>.st-op {
    color: var(--pur);
    font-family: "Raleway", sans-serif;
    cursor: pointer;
    margin-bottom: 0;
    margin-top: 10px;
}

.editor>.welcome-content>.st-op:hover {
    text-decoration: underline;
}

img {
    -webkit-user-drag: none;
    user-select: none;
}

#codeInput {
    position: absolute;
    top: 0;
    left: 25px;
    width: calc(100% - 25px);
    height: 100%;
    border: none;
    outline: 0;
    background-color: transparent;
    padding-left: 10px;
    padding-top: 5px;
    box-sizing: border-box;
    font-family: "Consolas", 'Courier New', monospace;
    font-size: 14px;
    color: transparent;
    z-index: 3;
    caret-color: rgb(184, 177, 177);
}

#highlight {
    position: absolute;
    top: 0;
    left: 25px;
    width: calc(100% - 25px);
    height: 100%;
    border: none;
    outline: 0;
    background-color: var(--cbg);
    z-index: 2;
    font-family: Consolas, 'Courier New', monospace;
    font-size: 14px;
    padding-left: 10px;
    padding-top: 5px;
    overflow-y: scroll;
    box-sizing: border-box;
    color: rgb(184, 177, 177);
}

#codeInput::selection {
    background-color: rgb(211, 211, 211, 0.35);
}

#highlight::-webkit-scrollbar {
    display: none;
}

#codeInput::-webkit-scrollbar {
    width: 15px;
    border-left: 1px solid rgb(211, 211, 211, 0.1);
}

#codeInput::--webkit-scrollbar-track {
    background-color: transparent;
}

#codeInput::-webkit-scrollbar-thumb {
    background-color: rgb(211, 211, 211, 0.3);
}

#codeInput::-webkit-scrollbar-thumb:hover {
    background-color: rgb(211, 211, 211, 0.5);
}

#lineNumbers {
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: calc(100% - 5px);
    background-color: var(--cbg);
    color: lightgray;
    font-family: Consolas, 'Courier New', monospace;
    font-size: 14px;
    padding-top: 5px;
    text-align: center;
    overflow-y: scroll;
    cursor: default;
    user-select: none;
}

#lineNumbers::-webkit-scrollbar {
    display: none;
}

.lb-file, .lb-folder {
    cursor: pointer;
    width: 100%;
    user-select: none;
}

.lb-file:hover, .lb-folder:hover {
    background-color: var(--av);
}