@import url("https://fonts.googleapis.com/css?family=Inter");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Nunito Sans");

:root {
    --cbg: #2A2B2A;
    --vista: #8CA0D7;
}

body {
    background-color: var(--cbg);
}

.topbar {
    background-color: var(--vista);
    position: fixed;
    top: 0;
    left: 0;
    height: 30px;
    width: 100%;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

.topbar-btns {
    position: fixed;
    left: 45px;
    top: 0;
    height: 30px;
    width: 90%;
    max-height: 30px;
}

.topbar-btn {
    -webkit-app-region: no-drag;
    font-family: "Roboto", sans-serif;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 15px;
    float: left;
    width: fit-content;
    vertical-align: middle;
    z-index: 1;
    white-space: nowrap;
    height: 30px;
}

.topbar-btn:hover {
    background-color: #7487bb;
}

.topbar > .dft-logo {
    height: 80%;
    width: 30px;
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translate(0%, -50%);
}